
<h1>Listado de Logros</h1>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th> Categoria</th>
        <th> Puntaje Inicial </th>
        <th> Puntaje Final </th>
        <th> Acciones </th>
      </tr>
    </thead>
<tbody>
  <% Logro.all.each do |logr| %>
    <tr>
      <td> <%= logr.nombre %> </td>
      <td> <%= logr.valor_min %> </td>
      <td> <%= logr.valor_max %> </td>
      <td>
        <p>
          <td><%= link_to "Editar", editarLogro_path(@logro, :id => logr.id), class: 'btn btn-info btn-sm' %></d>
            <td><%= link_to "Eliminar", eliminarLogro_path(@logro, :id => logr.id), class: 'btn btn-danger btn-sm"' %></d>
        
        </p>
      </td>
    </tr>
<% end %>
</tbody>
</table>
