
<div class="tabla-logro ">
<h1>Mis postulaciones</h1>
  <table class= "table2 table table-hover">
    <thead>
      <tr>
        <th> Descripcion</th>
        <th> Localidad </th>
        <th> Gauchada </th>
        <th> Plazo </th>
        <th> Estado</th>
        <th> Acciones </th>
      </tr>
    </thead>
<tbody>
  <% current_user.postulacions.all.each do |postu| %>
    <tr>
      <td> <%= postu.descripcion %> </td>
      <td> <%= postu.localidad %> </td>
      <td> <%= Gauchada.find(postu.gauchada_id).titulo%> </td>
      <td> <%= postu.fecha%> </td>
      <td> <%= postu.estado %> </td>
          <td>
          <%= link_to "Eliminar", eliminarPostulacion_path(@postulacion, :id => postu.id), class: 'btn btn-danger btn-sm' ,:data => { :confirm => 'Esta seguro que desea eliminar?' } %></td>
          <td>
            <% if postu.estado == "Aceptado" %>
              <%= link_to "Informacion de contacto", informacionContacto_path(postu.gauchada_id, :id => Gauchada.find(postu.gauchada_id).user_id), class: 'btn btn-info btn-sm' %>
            <% end %>

    </tr>
<% end %>
</tbody>
</table>
</div>
