<div class="Tarjeta de Credito">
  <div class="row formularios">
    <div class="col-lg-4 col-lg-offset-4 well">
      <h3 class="text-center">Compra de puntos</h3>

<%= form_for (@card) do |f| %>
<br></br>
<div class="field">
  <%= f.label :numero %><br />
  <%= f.text_field :numero, required: true %>
</div>

<div class="field">
<%= f.label :email_usuario %><br />
<%= f.text_field :email_usuario, required: true %>
</div>
<br></br>
<%= f.submit 'Comprar',class: 'btn btn-danger btn-sm' %>
<% end %>
</div>
</div>
</div>
