<h1>Compra de puntos con tarjeta de credito</h1>
<div class="Tarjeta de Credito">
<%= form_for (@card) do |f| %>
<br></br>
<br></br>
<br></br>
<%= f.label :numero %>
<%= f.text_field :numero, required: true %>
<br></br>
<%= f.label :email_usuario %>
<%= f.text_field :email_usuario, required: true %>
<br></br>
<%= f.submit 'Comprar',class: 'btn btn-danger btn-sm' %>
<% end %>
</div>
