<br></br>
<br></br>
<br></br>

<h1>Estadisticas del Mes</h1>

<h4>En el siguiente grafico se mostraran las estadisticas totales al mes correspondiente</h4>
<%= image_tag @bar %>

<br></br>

  <%= link_to "Enero", mostrarEstadisticas2_path(@estadisitica, :fecha=> 1) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Febrero", mostrarEstadisticas2_path(@estadisitica, :fecha => 2) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Marzo", mostrarEstadisticas2_path(@estadisitica, :fecha => 3) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Abril", mostrarEstadisticas2_path(@estadisitica, :fecha => 4) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Mayo",  mostrarEstadisticas2_path(@estadisitica, :fecha => 5) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Junio", mostrarEstadisticas2_path(@estadisitica, :fecha => 6) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Julio", mostrarEstadisticas2_path(@estadisitica, :fecha => 7) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Agosto", mostrarEstadisticas2_path(@estadisitica, :fecha => 8) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Septiembre", mostrarEstadisticas2_path(@estadisitica, :fecha => 9) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Octubre", mostrarEstadisticas2_path(@estadisitica, :fecha => 10) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Noviembre", mostrarEstadisticas2_path(@estadisitica, :fecha => 11) ,class: 'btn btn-danger btn-sm'  %></td>
  <%= link_to "Diciembre", mostrarEstadisticas2_path(@estadisitica, :fecha => 12) ,class: 'btn btn-danger btn-sm'  %></td>
