<br></br>
<br></br>
<br></br>

<h1>Estadisticas del Mes</h1>

<%= image_tag @bar %>
<br></br>
<h2>Informacion del gráfico</h2>

<h4>  Usuarios: <%= @estadistica.usuario%></br>
  Comentarios: <%= @estadistica.comentarios%></br>
  Gauchadas : <%= @estadistica.cant1%></br>
  Respuestas: <%= @estadistica.respuestas%></br>
  Ganancias totales($)<%= @estadistica.pagos%></br>
</h4>
<br></br>
<h4>Al utilizar la busqueda por fechas, se completa los campos con el formato <b>dd/mm/aa</b> tanto en fecha inicial como final,
  caso contario no funcionara correctamente</h4>
<%= form_tag(mostrarEstadisticas3_path, class:"navbar-form navbar-right search-form ", :method => "get") do %>

        <%=text_field_tag :dia_inicio,nil,class:'search',placeholder: "Dia incio" %>
        <%=text_field_tag :mes_inicio,nil,class:'search',placeholder: "Mes inicio" %>
        <%=text_field_tag :año_inicio,nil,class:'search',placeholder: "Año inicio" %>

<br></br>

        <%=text_field_tag :dia_fin,nil,class:'search',placeholder: "Dia fin" %>
        <%=text_field_tag :mes_fin,nil,class:'search',placeholder: "Mes fin" %>
        <%=text_field_tag :año_fin,nil,class:'search',placeholder: "Año fin" %>
<br></br>

        <li> <%= submit_tag 'Busqueda',class:'btn-group-vertical filtrobuton' %></li>

<%end%>


<br></br>
