<div class="Contenido-Principal">

              <hgroup class="mb20">
            		<h1>Gauchadas</h1>
      	      </hgroup>
              <% Gauchada.all.each do |gau| %>
                <% if (current_user.id == gau.user_id) %>

                  <section class="col-xs-12 col-sm-6 col-md-12">
                  		<article class="search-result row">
                  			<div class="col-xs-12 col-sm-12 col-md-3">
                  				<a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag gau.imagen , class:"img-rounded", size:'200x200'%></a>
                  			</div>
                  			<div class="col-xs-12 col-sm-12 col-md-2">
                  				<ul class="meta-search">
                  					<li><i class="glyphicon glyphicon-user"></i> <span><%= current_user.name %></span></li>
                  					<li><i class="glyphicon glyphicon-time"></i> <span><%= gau.created_at %></span></li>
                  					<li><i class="glyphicon glyphicon-map-marker"></i> <span><%= gau.ubicacion %></span></li>
                  				</ul>
                  			</div>
                  			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                  				<h3><a href="#" title=""> <%= gau.titulo %></a></h3>
                  				<p><%= gau.descripcion %></p>
                  			</div>
                      <div class="btn-mg">
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet"><%= link_to "Ver mas", detallesGauchada_path(@gauchada, :id => gau.id), class: 'btn btn-info btn-sm vermas' %>
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet"><%= link_to "Eliminar", eliminarGauchada_path(gau, :id => gau.id), class: 'btn btn-info btn-sm vermas',:data => { :confirm => 'Esta seguro que desea eliminar?'}  %></div>
                      </div>
                  			<span class="clearfix borda"></span>
                  		</article>
                </section>
                        <% end %>
            <% end %>



    </div>
