<div class="container-show">
  <div class="show-gauchada">
    <div class="card">
      <div class="wrapper row ">
        <div class="preview col-md-6">


            <div><%= image_tag @gauchada.imagen, size:'300x300'%></div>


        </div>
        <div class="details col-md-6 ">
          <h3 class="product-title"> <%= @gauchada.titulo %></h3>
          <div class="rating">

          </div>
          <p class="product-description"><%= @gauchada.descripcion %></p><br>
          <h4 class="price">Localidad <span><%=@gauchada.ubicacion%></span></h4>
          <br>
          <div class="action">
            <br><br>
            <% if user_signed_in?%>
                <% if (current_user.id != @gauchada.user_id)%>
                  <% if (@gauchada.postulacions.first.present?)%>
                    <% if (@gauchada.postulacions.first.estado == "Esperando")%>
                      <%= link_to "Postularse", nuevoPostulacion_path(@gauchada, :id => @gauchada.id), class: 'btn btn-info btn-sm' %>
                    <% end %>
                    <%else%>
                      <%= link_to "Postularse", nuevoPostulacion_path(@gauchada, :id => @gauchada.id), class: 'btn btn-info btn-sm' %>
                  <% end %>
                <% end %>
                <% if current_user.id == @gauchada.user_id %>
                  <%= link_to "Postulados", index2Gauchada_path(@gauchada, :id => @gauchada.id), class: 'btn btn-info btn-sm' %>

                  <% if (@gauchada.postulacions.first.present?)%>
                    <% if (@gauchada.postulacions.first.estado == "No cumplio")%>
                      <%= link_to "Republicar", republicarGauchada_path(@gauchada, :id => @gauchada.id), class: 'btn btn-info btn-sm' %>
                    <% end %>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    </div>
    <% if user_signed_in?%>
      <div class="Comentarios card">

        <h4>Deja tu Comentario</h4>
        <%= form_for (@comentarios) do |f| %>
        <br></br>
        <%= f.label :coment %>
        <%= f.text_field :coment, required: true %>
        <br></br>
        <%= f.hidden_field :Id_gauchada, :value => params[:id] %>
        <%= f.hidden_field :Id_usuario, :value => current_user.id%>
        <br></br>
        <%= f.submit 'Guardar',class: 'btn btn-danger btn-sm' %>
        <% end %>

        <br><br>
        <% @comen = Comentario.where(:Id_gauchada => @gauchada.id).all%>
        <p><span class="badge"><%= @comen.count %></span> Comentarios:</p><br>
        <div class="row">
          <div class="col-sm-12">
            <% @comen.all.each do |com| %>
 <%= link_to "eliminar", comentarios_destroy_path(com,:id => com.id), class: 'btn btn-info btn-sm vermas' %>
            <h4><%= com.Id_usuario %> <small><%=com.created_at%></small></h4>
            <p><%= com.coment %></p>
              <%= link_to "Responder", new_answer_path(com, :id => com.id), class: 'btn btn-info btn-sm vermas' %>

             <br>

            <div class="row-2 ">
              <div class="col-xs-12">
                <% Answer.all.each do |ans| %>
                  <% if (ans.comentario_id == com.id) %>
                    <h4><%=User.find(ans.usuario_id).name%><small><%=ans.created_at%></small></h4>
                    <p><%=ans.res%></p>
                  <%end%>
                  <%end%>
                  <br>
                </div>
              </div>
            <%end%>
          </div>
        </div>
    </div>
    <% end %>

</div>
