
<%= image_tag "navigation.png", class:"imgbar" %>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">  <%= link_to image_tag("logo.png",class:"img-logo"), root_url, class: "navbar-brand " %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <%= form_tag(lugar_gauchadas_path, class:"navbar-form navbar-right search-form ", :method => "get") do %>
                <%=text_field_tag :busqueda,nil,class:'search',placeholder: "Busqueda" %>

                <div class="btn-group">
                  <li class="dropdown filtro">

                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Busqueda por..
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li> <%= submit_tag 'Ubicacion',class:'btn-group-vertical filtrobuton' %></li>
                     <li> <%= submit_tag 'Titulo/Descripcion', class:'btn-group-vertical filtrobuton',formaction: titulo_descripcion_gauchadas_path %></li>
                  </ul>
                  <li>
                </div>
          <%end%>
      <% if user_signed_in? %>
          <li class="logeado" > Logeado como <strong><%= current_user.name %></strong> tienes: <strong><%= current_user.puntos%> puntos</strong></p></li>
          <li ><%= link_to 'Sobre Nosotros', listadoMonstruos_path %></li>
          <li ><%= link_to 'Preguntas Frecuentes', aboutMain_path %></li>

      <% else %>

        <li ><%= link_to 'Sobre Nosotros', listadoMonstruos_path %></li>
        <li ><%= link_to 'Preguntas Frecuentes', aboutMain_path %></li>
        <li ><%= link_to 'Registrarse', new_user_registration_path %></li>
        <li ><%= link_to 'Ingresar', new_user_session_path%></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Opciones
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

              <li ><%= link_to 'Editar perfil', edit_user_registration_path %> </li>
              <li ><%= link_to 'Notificaciones', mostrarNotificaciones_path %> </li>
              <li ><%= link_to 'Mis postulaciones', listadoPostulacions_path %> </li>
              <li ><%= link_to 'Mis gauchadas', index3Gauchada_path %> </li>
              <li ><%= link_to 'Nueva Gauchada', nuevaGauchada_path %></li>
              <li ><%= link_to 'Compra de puntos', realizaPago_path %></li>
            <% if current_user.name == "Administrador"%>
                      <li ><%= link_to 'Listado de logros', listadoLogros_path %></li>
                      <li ><%= link_to 'Nuevo Logro', nuevoLogro_path %></li>
                      <li ><%= link_to 'Estadisticas', mostrarEstadisticas_path %> </li>
            <% end %>
            <li><%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete  %></li>
          </ul>
        <% end %>


      </ul>

    </div>
  </div>
</nav>
