<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Una Gauchada", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <button class="btn btn-sm align-middle btn-outline-secondary" type="button"><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> </button>
          <% if current_user.name == "Administrador"%>
              <button class="btn btn-sm align-middle btn-outline-secondary" type="button"><%= link_to 'Listado de logros', listadoLogros_path %></button>
              <button class="btn btn-sm align-middle btn-outline-secondary" type="button"><%= link_to 'Editar logros', editarLogro_path %></button>
          <% end %>
          <button class="btn btn-sm align-middle btn-outline-secondary" type="button"><%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>

        <% else %>
          <li><%= link_to 'Sobre Nosotros', listadoMonstruos_path %></li>
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>
          <li><%= link_to 'Ingresar', new_user_session_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
